body{

background:#0d1117;

color:white;

font-family:Arial;

text-align:center;

}

input{

padding:10px;

width:350px;

margin:10px;

background:#161b22;

border:1px solid #30363d;

color:white;

}

button{

padding:10px 20px;

background:#238636;

border:none;

color:white;

cursor:pointer;

}

button:hover{

background:#2ea043;

}

div{

margin-top:20px;

font-size:20px;

}
